
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.1
    </div>
    <strong>
        " www.baidu.com " said the <a href="https://www.baidu.com">Baidu</a>.
    </strong>
    <script src="/assets/js/vue.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/adminlte.js"></script>
    <script src="../assets/plugins/toast/js/jquery.toast.min.js"></script>
    <script src="../assets/js/request.js"></script>
    <script src="../assets/js/api.js"></script>
</footer>
